apiVersion: apps/v1
kind: Deployment
metadata:
  name: drupal
spec:
  replicas: 1
  selector:
    matchLabels:
      app: drupal
  template:
    metadata:
      labels:
        app: drupal
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 33
        runAsGroup: 33
        fsGroup: 33
      containers:
      - name: drupal
        image: uitcontainerregistry.azurecr.io/uit/drupal:1.21
        volumeMounts: 
          - name: drupal-code
            mountPath: /var/www/html
        ports:
        - containerPort: 9000
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          runAsNonRoot: true
          seccompProfile:
            type:
              RuntimeDefault
      volumes: 
        - name: drupal-code
          persistentVolumeClaim: 
            claimName: drupal-code
      imagePullSecrets:
      - name: ${image_pull_secret_name}      

