apiVersion: apps/v1
kind: Deployment
metadata:
  name: drupal
spec:
  replicas: 1
  selector:
    matchLabels:
      app: drupal
  template:
    metadata:
      labels:
        app: drupal
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 33
        runAsGroup: 33
        fsGroup: 33
      containers:
      - name: drupal
        env:
          # Application configuration
          - name: POSTGRES_DB
            value: ${app_name}
          - name: POSTGRES_HOST
            value: ${app_name}-db-rw
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: ${app_name}-db-secret
                key: username
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: ${app_name}-db-secret
                key: password
          - name: DRUPAL_SITE_NAME
            value: "Uit Drupal test Site"
          - name: DRUPAL_SITE_ENVIRONMENT
            value: "test"
          - name: DRUPAL_ADMIN_USERNAME
            valueFrom:
              secretKeyRef:
                name: ${app_name}-drupal-adminuser-secret
                key: username
          - name: DRUPAL_ADMIN_PASSWORD
            valueFrom:
              secretKeyRef:
                name: ${app_name}-drupal-adminuser-secret
                key: password
          - name: UIT_ORGREG_APIKEY
            valueFrom:
              secretKeyRef:
                name: ${app_name}-drupal-orgreg-apikey-secret
                key: password
          - name: UIT_FS_UTVEKSLINGSAVTALER_APIKEY
            valueFrom:
              secretKeyRef:
                name: ${app_name}-drupal-fs-utvekslingsavtaler-apikey-secret
                key: password
          - name: UIT_IKNOWBASE_GRAPHQL_STUDIEKATALOG_APIKEY
            valueFrom:
              secretKeyRef:
                name: ${app_name}-drupal-iknowbase-graphql-studiekatalog-secret
                key: password
        image: uitcontainerregistry.azurecr.io/uit/drupal:11.3-0004
        volumeMounts: 
          - name: drupal-default
            mountPath: /opt/drupal/web/sites/default
          - name: drupal-default-files
            mountPath: /opt/drupal/web/sites/default/files          
        ports:
          - containerPort: 9000        
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          runAsNonRoot: true
          seccompProfile:
            type:
              RuntimeDefault
      volumes: 
        - name: drupal-default
          persistentVolumeClaim: 
            claimName: drupal-default
        - name: drupal-default-files
          persistentVolumeClaim: 
            claimName: drupal-default-files
      imagePullSecrets:
      - name: ${image_pull_secret_name}      

